
.noto-sans-kr {
  font-family: "Noto Sans KR", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.barlow-regular {
  font-family: "Barlow", serif;
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "Barlow", "Noto Sans KR";
  box-sizing: border-box;
}


#profile-table th:nth-child(1) {
  font-size: small;
  padding: 5px;
  padding-right: 35px;
}
#profile-table th:nth-child(2) {
  font-size: small;
 
}

.pill {
  display: inline-block;
  border: 1px solid lightgray;
  border-radius: 100px;
  padding: 3px 12px 5px 12px;
  margin-right: 2px;
  margin-bottom: 5px;
}

#signUp-btn {
  background-color: #74C0FC;
  width: 30%;
  color: white;
  font-size: small;
  
}